body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Delius", cursive;
    color: #DCD7C9;
    background-color: #A27B5C;
}

.content {
    margin: 5px auto 5px;
    padding: 10px 0px;
    border-radius: 16px;
    width: 600px;
    background-color: #2C3930;
}

.content ul {
    padding: 8px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.content .item {
    margin: 3px 2px;
    border-radius: 12px;
    padding: 10px 10px 0px 10px;
    width: 120px;
    background-color: #3F4F44;
    display: inline-block;
}

.content .item:hover {
    transition: 300ms;
    background-color: hsl(139, 11%, 18%);
    transform: scale(1.03);
}

.content ul,
li,
a {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-size: 48px;
    display: block;
    text-align: center;
}

p {
    color: #DCD7C9;
    margin-top: 0;
    text-align: center;
}

img {
    width: 120px;
    border-radius: 8px;
}

.judul {
    height: 70px;
    width: 120px;
}