* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2DCB6;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px/28px;
    background-size: cover;

}

.container {
    width: 800px;
    background-color: #778873;
    margin: auto;
    border: 3px solid #F1F3E0;
}

.header {
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.header ul li {
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    text-decoration: none;
}

.header ul li a {
    text-decoration: none;
    color: salmon;
    margin: 5px;
    padding: 3px;
}

.header ul li a:hover {
    background-color: springgreen;
    color: blue;
    width: auto;
}

.menuToggle {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.menuToggle span {
    width: 28px;
    background-color: #333;
    border: 2px solid;
    z-index: 3;
}

.menuToggle input {
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    z-index: 4;
}

.hero {
    background-image: url(img/Pict1.png);
    height: 280px;
    background-size: cover;
    background-position: 0, -60px;
    border-top: 5px solid lightgreen;
    border-bottom: 5px solid lightgreen;
}

.content {
    padding: 20px;
}

.judulArtikel {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    text-decoration: none;
    color: salmon;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaaa;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    body {
        background-color: #778873;
        overflow-x: hidden;
        color: #F1F3E0;
    }

    .container {
        max-width: 100%;
        margin: 0;
        background-color: #778873;
        border-radius: 10px;
    }

    .header {
        display: flex;
    }

    .header ul {
        height: 100vh;
        padding: 20px;
        z-index: 2;
        width: 25%;
        background-color: #778873;
        position: fixed;
        flex-direction: column;
        top: 0;
        opacity: 0;
        right: 0;
        transform: translateX(100%);
        transition: 200ms;
        border: 2px solid;
        border-radius: 10px;
    }

    .header ul li,
    .header ul li a {
        text-align: center;
        color: #F1F3E0;
    }

    .header ul.slide {
        opacity: 1;
        transform: translate(0);
    }

    .menuToggle {
        display: flex;
    }

    .hero {
        border-top: 5px solid #F1F3E0;
        border-bottom: 5px solid #F1F3E0;
    }

    .footer {}
}